@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
@import "https://fonts.googleapis.com/css?family=Montserrat";
.page-wrapper, html, body {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.page-wrapper, body {
  background-color: #000;
}

header {
  background-size: cover;
  background: #111111 url(../images/sleave-blur.jpg) top center no-repeat;
  height: 60%;
  position: relative;
  width: 100%;
}
@media handheld, screen and (max-width: 995px) {
  header {
    height: 40%;
  }
}
@media handheld, screen and (max-width: 995px) {
  header .logo {
    display: block;
    text-align: center;
  }
}
header h1 {
  color: white;
  float: left;
  font-family: 'Amatic SC', cursive;
  font-size: 90px;
  margin: 0 auto 0 70px;
}
@media handheld, screen and (max-width: 995px) {
  header h1 {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
header h2 {
  color: white;
  float: left;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  padding: 10px;
  position: relative;
}
@media handheld, screen and (max-width: 995px) {
  header h2 {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 0;
  }
}
header .social-buttons {
  display: inline-block;
  height: 40%;
  list-style: none;
  width: 40%;
}
header .social-buttons img.social-icon {
  position: absolute;
  width: 30%;
}
header .nav {
  bottom: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  border-radius: 10px 0 0 10px;
  opacity: 0.6;
}
@media handheld, screen and (max-width: 995px) {
  header .nav {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
header .nav ul {
  background-color: #111111;
  padding: 20px;
}
header .nav .btn-primary, header .nav li {
  background: "light gray";
  color: white;
  display: inline;
  font-family: 'Architects Daughter', cursive;
  padding: 20px;
  text-decoration: none;
}
@media handheld, screen and (max-width: 995px) {
  header .nav .btn-primary, header .nav li {
    padding: 10px;
  }
}
header .nav li:hover, header .nav .foot-nav li:hover {
  background-color: dimgray;
}

.content {
  background-color: white;
  display: block;
  height: auto;
  margin: 30px auto;
  padding: 30px;
  position: relative;
  width: 80%;
}
.content .posters {
  margin: 20px 10px 20px 10px;
  text-align: center;
}
.content .posters img {
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}
.content h3 {
  font: bold 50px "Amatic SC";
  text-align: center;
}
.content p {
  display: inline-block;
  float: right;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  margin: 20px;
  text-align: justify;
  width: 50%;
}
@media handheld, screen and (max-width: 995px) {
  .content p {
    display: block;
    float: none;
    margin: 10px auto;
    text-align: center;
    width: 80%;
  }
}
.content aside {
  bottom: 10px;
  display: inline-block;
  left: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
}
@media handheld, screen and (max-width: 995px) {
  .content aside {
    bottom: 0;
    display: block;
    left: 0;
    margin: 0 auto;
    position: relative;
    width: 60%;
  }
}
.content img.sleave-pic {
  margin: 10px auto 0 auto;
  width: 40%;
}
@media handheld, screen and (max-width: 995px) {
  .content img.sleave-pic {
    display: block;
    margin: 10px auto;
    width: 80%;
  }
}
.content video {
  border: 2px solid black;
  bottom: 0;
  display: block;
  margin: 40px auto;
  position: relative;
  width: 90%;
}
.content iframe {
  display: inline-block;
}
@media handheld, screen and (max-width: 995px) {
  .content iframe {
    display: block;
    margin: 0 auto;
  }
}

.foot-nav {
  bottom: 0;
  margin: 10px auto 0 auto;
  text-align: center;
  opacity: 0.8;
  position: relative;
}
.foot-nav ul {
  background-color: #777;
  padding: 20px;
}
.foot-nav .btn-primary1, .foot-nav li {
  background: "light gray";
  color: white;
  display: inline;
  font-family: 'Architects Daughter', cursive;
  padding: 10px;
  text-decoration: none;
}
@media handheld, screen and (max-width: 995px) {
  .foot-nav .btn-primary1, .foot-nav li {
    padding: 5px;
  }
}
