@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
@import "https://fonts.googleapis.com/css?family=Montserrat";
.foot-nav {
  *zoom: 1;
}
.foot-nav:before, .foot-nav:after {
  content: " ";
  display: table;
}
.foot-nav:after {
  clear: both;
}

.page-wrapper, html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page-wrapper, body {
  background-color: #000;
}

header {
  background: #111111 url(../images/sleave-blur.jpg) top center no-repeat;
  background-size: cover;
  width: 100%;
  height: 60%;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  header {
    height: 40%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  header .logo {
    display: block;
    text-align: center;
  }
}
header h1 {
  color: white;
  font-family: 'Amatic SC', cursive;
  float: left;
  font-size: 90px;
  margin: 0 auto 0 70px;
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  header h1 {
    display: block;
    float: none;
    margin: 0 auto;
  }
}
header h2 {
  color: white;
  font-family: 'Amatic SC', cursive;
  padding: 10px;
  position: relative;
  float: left;
  font-size: 25px;
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  header h2 {
    padding: 0;
    float: none;
    display: block;
    margin: 0 auto;
  }
}
header .social-buttons {
  width: 40%;
  height: 40%;
  list-style: none;
  display: inline-block;
}
header .social-buttons img.social-icon {
  position: absolute;
  width: 30%;
}
header .nav {
  position: absolute;
  display: inline-block;
  bottom: 0;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  right: 0;
  border-radius: 10px 0 0 10px;
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  header .nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
header .nav ul {
  background-color: #111111;
  padding: 20px;
}
header .nav .btn-primary, header .nav li {
  display: inline;
  text-decoration: none;
  padding: 20px;
  color: white;
  font-family: 'Architects Daughter', cursive;
  background: "light gray";
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  header .nav .btn-primary, header .nav li {
    padding: 10px;
  }
}
header .nav li:hover, header .nav .foot-nav li:hover {
  background-color: dimgray;
}

.content {
  display: block;
  position: relative;
  width: 80%;
  height: auto;
  margin: 30px auto;
  background-color: white;
  padding: 30px;
}
.content .posters {
  margin: 20px 10px 20px 10px;
  text-align: center;
}
.content .posters img {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}
.content h3 {
  font: bold 50px "Amatic SC";
  text-align: center;
}
.content p {
  margin: 20px;
  display: inline-block;
  float: right;
  width: 50%;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  .content p {
    margin: 10px auto;
    display: block;
    float: none;
    width: 80%;
    text-align: center;
  }
}
.content aside {
  position: absolute;
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline-block;
  bottom: 10px;
  left: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  .content aside {
    display: block;
    width: 60%;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0 auto;
  }
}
.content img.sleave-pic {
  width: 40%;
  margin: 10px auto 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  .content img.sleave-pic {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
}
.content video {
  display: block;
  position: relative;
  margin: 40px auto;
  bottom: 0;
  width: 90%;
  border: 2px solid black;
}
.content iframe {
  display: inline-block;
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  .content iframe {
    margin: 0 auto;
    display: block;
  }
}

.foot-nav {
  margin: 10px auto 0 auto;
  bottom: 0;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  text-align: center;
  position: relative;
}
.foot-nav ul {
  background-color: #777;
  padding: 20px;
}
.foot-nav .btn-primary1, .foot-nav li {
  display: inline;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-family: 'Architects Daughter', cursive;
  background: "light gray";
}
@media only screen and (min-width: 0px) and (max-width: 825px) {
  .foot-nav .btn-primary1, .foot-nav li {
    padding: 5px;
  }
}
