@import "compass/css3",
"mixins",
'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300',
'https://fonts.googleapis.com/css?family=Montserrat';

.page-wrapper{
	width: 100%;
	margin: 0 auto;
}

.page-wrapper, body{
	background-color: #000;
}

header{
	background: #111111 url(../images/sleave-blur.jpg) top center no-repeat;
	background-size: cover;
	width:100%;
	height: 500px;
	margin:0 auto;
	position: relative;

	// @include mobile{
	// 	width:50%;
	// }

	.logo{
		position:absolute;
		transition: all 2s;
		&.loaded{
			left:0;
		}
		&.init {
			left:-500px;
		}
	}
	

	h1{
		font-size: 90px;
		margin: 0 auto 0 70px;
	}

	h2, .socialbuttons{
		padding:10px;
	}

	h2{
		font-size: 25px;
	}

	h1, h2, .socialbuttons{
		position: relative;
		float:left;
	}

	h1, h2{
		font-family: 'Amatic SC', cursive;
		color: white;
	}

	.socialbuttons{
		position: absolute;
		bottom: 0;
		background: rgba(0,0,0,.3);
		@include mobile{
			display:none;
		}
	}

	.social-icon {
		display: inline-block;
		margin:15px 10px 0px auto;
	}

	.social-icon:hover{
		transform:translateY(3px);
	}
}
.nav{
		position: absolute;
		display: inline-block;
		bottom: 0;
		-moz-opacity: 0.6;
	    -khtml-opacity: 0.6;
	    opacity: 0.6;  
	  	right:0;
	    border-radius: 10px 0 0 10px;
	 
	 @include mobile{
	 	width:100%;
	 	margin: 0 auto;
	 	text-align:center;
	 }

	 ul{
		background-color:#111111 ;
		padding: 20px;
	}

	.btn-primary, li{
		display:inline;
		text-decoration:none;
		padding:20px;
		color:white;
		font-family: 'Architects Daughter', cursive;
		background: "light gray";

	}

	 li:hover, .foot-nav li:hover{
		background-color:dimgray;
	}
}
.content {
	position: relative;
	width:80%;
	height: 100%;
	margin: 30px auto;
	background-color: white;
	padding: 30px;


	 h3{
		font: bold 50px "Amatic SC";
		text-align: center;
	}

	 p{
		margin:20px;
		display: inline-block;
		float:right;
		right:10%;
		width:50%;
		font-size: 25px; 
		font-family:'Open Sans Condensed', sans-serif;;
		text-align: justify;
		@include mobile{
			margin-bottom:20px;
			padding-left:30px;
			display:block;
			float:none;
			width:80%;
			text-align:center;
		}
	}
	/*	make this stick to the bottom of the picture*/
	 
	 aside{
		position: absolute;
		font-family:'Open Sans Condensed', sans-serif;
		 display: inline-block;
		 bottom: 10px;
		 left:30px;
		 @include mobile{
		 	display:block;
		 	width:60%;
		 	position:relative;
		 	bottom:0;
		 	left:0;
		 	margin:0 auto;
		}
	}

	 img{
		width: 40%;
		margin: 10px auto 0 auto;
		&.sleave-pic{
			@include mobile{
				display:block;
				width:80%;
				margin:10px auto;
			}
		}
	}



	 video{   
		display: block;
		position: relative;
		margin: 40px auto;
		bottom:0;
		width:80%; 
		border: 2px solid black;
	}

	 iframe{
		display: inline-block;
		@include mobile{
			display:block;
		}
	}


	.posters{
		margin:20px 10px 20px 10px;
		text-align: center;
	}
}

.foot-nav{
	margin: 10px auto 0 auto;
	bottom:0;  
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;  
	text-align: center;
    position: relative;

	ul{
		background-color:#777;
		padding: 20px;
	}
	.btn-primary1, li{
		display:inline;
		text-decoration:none;
		padding:10px;
		color:white;
		font-family: 'Architects Daughter', cursive;
		background: "light gray";
	}
}


/*
@font-face {
    font-family: 'architects_daughterregular';
    src: url('architectsdaughter-webfont.woff2') format('woff2'),
         url('architectsdaughter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amatic_scbold';
    src: url('amaticsc-bold-webfont.woff2') format('woff2'),
         url('amaticsc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'amatic_scregular';
    src: url('amaticsc-regular-webfont.woff2') format('woff2'),
         url('amaticsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/