// ****************************

// * Imports

// ****************************

@import "compass/css3",
"_mixins",
'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300',
'https://fonts.googleapis.com/css?family=Montserrat';

// ****************************

// * Wrappers and Base

// ****************************

.page-wrapper, html, body{
	height:100%;
	margin: 0 auto;
	width: 100%;
}

.page-wrapper, body{
	background-color: #000;
}

// ****************************

// * Header

// ****************************

header{
	background-size: cover;
	background: #111111 url(../images/sleave-blur.jpg) top center no-repeat;
	height: 60%;
	position: relative;	
	width:100%;
	@include mobile{
		height:40%;
	}
	
	.logo {
		@include mobile{
			display:block;
			text-align:center;
		}
	}
	h1{	
		color:white;
		float:left;
		font-family: 'Amatic SC', cursive;
		font-size: 90px;
		margin: 0 auto 0 70px;
		@include mobile{
			display:block;
			float:none;
			margin: 0 auto;
		}
	}

	h2{
		color:white;
		float:left;
		font-family: 'Amatic SC', cursive;
		font-size: 25px;
		padding:10px;
		position: relative;
		@include mobile{
			display:block;
			float:none;
			margin:0 auto;
			padding:0;
		}
	}

	// ****************************

	// * Social Icons

	// ****************************

	.social-buttons{
		display:inline-block;
		height:40%;
		list-style:none;
		width:40%;
		& img.social-icon {
			position:absolute;
			width:30%;
		}
	}
	// ****************************

	// * Nav

	// ****************************

	.nav{
			bottom: 0;
			display: inline-block;
			position: absolute;
		  	right:0;
		    border-radius: 10px 0 0 10px;
		    opacity: 0.6;  
			 @include mobile{
			 	margin: 0 auto;
			 	text-align:center;
			 	width:100%;
			 }

	 ul{
		background-color:#111111 ;
		padding: 20px;
	}

	.btn-primary, li{
		background: #111111;
		color:white;
		display:inline;
		font-family: 'Architects Daughter', cursive;
		padding:20px;
		text-decoration:none;
		@include mobile{
			padding:10px;
		}

	}

	 	li:hover, .foot-nav li:hover{
			background-color:dimgray;
		}
	}
}

// ****************************

// * Main page content

// ****************************

.content {
	background-color: white;
	display:block;
	height: auto;
	margin: 30px auto;
	padding: 30px;
	position: relative;
	width:80%;
	.posters{
		margin:20px 10px 20px 10px;
		text-align: center;
		& img
			{
				margin: 10px auto;
				padding:10px;
				width:80%;
			}
		}

	// ****************************

	// * About page content

	// ****************************

	h3{
		font: bold 50px "Amatic SC";
		text-align: center;
	}

	 p{
		display: inline-block;
		float:right;
		font-family:'Open Sans Condensed', sans-serif;;
		font-size: 25px; 
		margin:20px;
		text-align: justify;
		width:50%;
		@include mobile{
			display:block;
			float:none;
			margin:10px auto;
			text-align:center;
			width:80%;
		}
	}
	 aside{
		bottom: 10px;
		display: inline-block;
		left:30px;
		font-family:'Open Sans Condensed', sans-serif;
		position: absolute;
		@include mobile{
		 	bottom:0;
		 	display:block;
		 	left:0;
		 	margin:0 auto;
		 	position:relative;
		 	width:60%;
		}
	}

	img{
		&.sleave-pic{
			margin: 10px auto 0 auto;
			width: 40%;
			@include mobile{
				display:block;
				margin:10px auto;
				width:80%;
			}
		}
	}

	 video{   
		border: 2px solid black;
		bottom:0;
		display: block;
		margin: 40px auto;
		position: relative;
		width:90%; 
	}

	 iframe{
		display: inline-block;
		@include mobile{
			display:block;
			margin:0 auto;
		}
	}
}

// ****************************

// * Foot Nav

// ****************************

.foot-nav{
	bottom:0;  
	margin: 10px auto 0 auto;
	text-align: center;
    opacity: 0.8;  
    position: relative;

	ul{
		background-color:#777777;
		padding: 20px;
	}
	.btn-primary1, li{
		background: #777777;
		color:white;
		display:inline;
		font-family: 'Architects Daughter', cursive;
		padding:10px;
		text-decoration:none;
		@include mobile{
			padding:5px;
		}
	}
}
