// ****************************

// * Imports

// ****************************

@import "compass/css3",
"mixins",
'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300',
'https://fonts.googleapis.com/css?family=Montserrat';

// ****************************

// * Wrappers and Base

// ****************************

.page-wrapper, html, body{
	width: 100%;
	height:100%;
	margin: 0 auto;
}

.page-wrapper, body{
	background-color: #000;
}

// ****************************

// * Header

// ****************************

header{
	background: #111111 url(../images/sleave-blur.jpg) top center no-repeat;
	background-size: cover;
	width:100%;
	height: 60%;
	position: relative;	
	@include mobile{
		height:30%;
	}

	h1{	
		color:white;
		font-family: 'Amatic SC', cursive;
		float:left;
		font-size: 90px;
		margin: 0 auto 0 70px;
	}

	h2{
		color:white;
		font-family: 'Amatic SC', cursive;
		padding:10px;
		position: relative;
		float:left;
		font-size: 25px;
	}

	// ****************************

	// * Social Icons

	// ****************************

	.social-buttons{
		position: absolute;
		bottom: 0;
		background: rgba(0,0,0,.3);
		@include mobile{
			display:none;
		}
		.social-icon {
			display: inline-block;
			&:hover{
				transform:translateY(3px);
			}
		}
	}

	// ****************************

	// * Nav

	// ****************************

	.nav{
			position: absolute;
			display: inline-block;
			bottom: 0;
			-moz-opacity: 0.6;
		    -khtml-opacity: 0.6;
		    opacity: 0.6;  
		  	right:0;
		    border-radius: 10px 0 0 10px;
			 @include mobile{
			 	width:100%;
			 	margin: 0 auto;
			 	text-align:center;
			 }

	 ul{
		background-color:#111111 ;
		padding: 20px;
	}

	.btn-primary, li{
		display:inline;
		text-decoration:none;
		padding:20px;
		color:white;
		font-family: 'Architects Daughter', cursive;
		background: "light gray";
		@include mobile{
			padding:10px;
		}

	}

	 	li:hover, .foot-nav li:hover{
			background-color:dimgray;
		}
	}
}

// ****************************

// * Main page content

// ****************************

.content {
	display:block;
	position: relative;
	width:80%;
	height: auto;
	margin: 30px auto;
	background-color: white;
	padding: 30px;
	
	.posters{
		margin:20px 10px 20px 10px;
		text-align: center;
		& img
			{
				width:80%;
				margin: 10px auto;
				padding:10px;
			}
		}

	// ****************************

	// * About page content

	// ****************************

	h3{
		font: bold 50px "Amatic SC";
		text-align: center;
	}

	 p{
		margin:20px;
		display: inline-block;
		float:right;
		right:10%;
		width:50%;
		font-size: 25px; 
		font-family:'Open Sans Condensed', sans-serif;;
		text-align: justify;
		@include mobile{
			margin-bottom:20px;
			padding-left:30px;
			display:block;
			float:none;
			width:80%;
			text-align:center;
		}
	}
	 aside{
		position: absolute;
		font-family:'Open Sans Condensed', sans-serif;
		 display: inline-block;
		 bottom: 10px;
		 left:30px;
		 @include mobile{
		 	display:block;
		 	width:60%;
		 	position:relative;
		 	bottom:0;
		 	left:0;
		 	margin:0 auto;
		}
	}

	img{
		&.sleave-pic{
			width: 40%;
			margin: 10px auto 0 auto;
			@include mobile{
				display:block;
				width:80%;
				margin:10px auto;
			}
		}
	}

	 video{   
		display: block;
		position: relative;
		margin: 40px auto;
		bottom:0;
		width:80%; 
		border: 2px solid black;
	}

	 iframe{
		display: inline-block;
		@include mobile{
			display:block;
		}
	}
}

// ****************************

// * Foot Nav

// ****************************

.foot-nav{
	@extend %clearfix;
	margin: 10px auto 0 auto;
	bottom:0;  
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;  
	text-align: center;
    position: relative;

	ul{
		background-color:#777;
		padding: 20px;
	}
	.btn-primary1, li{
		display:inline;
		text-decoration:none;
		padding:10px;
		color:white;
		font-family: 'Architects Daughter', cursive;
		background: "light gray";
	}
}
